@import "../../main.scss";
.event_single_page {
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .single_page_content {
    width: 65%;
    min-height: 200px;
    margin-top: 255px;
    margin-bottom: 95px;
    border: 2px solid $grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .event_img {
      margin: 8px 13%;
      width: 75%;
    }
  }
}
