@import "../../../../main.scss";
.footer_data {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70px;
  width: 50%;
  justify-content: space-between;
  .footer_header {
    display: flex;
    width: 50%;
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: center;
    align-items: center;
    .crown {
      width: 40px;
      margin-right: 5px;
      margin: auto;
    }
    .header_title {
      font-size: 0.9rem;
      font-weight: 300;
      color: $red;
      font-family: $jp;
    }
  }
  .footer_header > h4 {
    font-weight: 300;
    color: $text;
    font-family: $gen;
  }
}
