@import "../../main.scss";
.home_header {
  width: 99vw;
  display: flex;
  padding-top: 70px;
  flex-direction: column;
  .home_bg_img {
    display: flex;
    background-image: url("https://static.zerochan.net/Shoujo%E2%98%86Kageki.Revue.Starlight.-ReLIVE-.full.2553649.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: flex-end;
    height: 100vh;
    width: 99vw;
    .logo {
      margin-bottom: 15%;
      width: 320px;
      z-index: 5;
      position: relative;
    }
  }
}
.loading_page {
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: chocolate;
  position: absolute;
  background-color: $white;
  background-image: url("../../assets/utils-img/btn-switch-revue-visible-karen.png");
  background-repeat: no-repeat;
  background-position: center;
  content: attr("Loading...");
  display: flex;
  align-items: center;
  justify-content: center;
}
